.card {
  padding: 31px;
  border-radius: 5px;
  border: 1px solid var(--color-gray-1);
  background-image: url(/images/background_card.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  cursor: pointer;

  &__title {
    h3 {
      position: relative;
      width: 85px;
      height: 46px;
      max-width: 85px;
      margin-right: auto;
      margin-left: auto;
      color: var(--color-golden-1);
      font-size: var(--font-size-heading-7);
      line-height: 1.1;
      text-align: center;
      text-transform: uppercase;

      &::before,
      &::after {
        content: "";
        position: absolute;
        top: 0;
        width: 32px;
        height: 18px;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center center;
      }

      &::before {
        left: -47px;
        background-image: url(/icons/prefix_title_card.svg);
      }

      &::after {
        right: -47px;
        background-image: url(/icons/sufix_title_card.svg);
      }
    }
  }

  &__avatar {
    position: relative;
    margin: 15px 0 0;

    .avatar {
      z-index: 10;
      user-select: none;
      width: 180px;
      height: 180px;
      border-radius: 50%;
    }
  }

  &__comics,
  &__movies {
    display: flex;
    margin-top: 20px;
    align-items: center;
    justify-content: center;
    padding: 15px 20px;
    border-radius: 5px;
    border: 1px solid var(--color-gray-3);
    background-color: var(--color-gray-2);
    color: var(--color-golden-1);

    span {
      margin-left: 20px;
      color: var(--color-golden-1);
      font-size: var(--font-size-heading-4);
    }
  }

 
}
