:root {
  --font-size-body-1: 1.25rem;
  --font-size-body-2: 1rem;
  --font-size-body-3: 0.625rem;
  --font-size-display: 3.75rem;
  --font-size-heading-1: 3rem;
  --font-size-heading-2: 2.625rem;
  --font-size-heading-3: 2rem;
  --font-size-heading-4: 1.75rem;
  --font-size-heading-5: 1.375rem;
  --font-size-heading-6: 1.125rem;
  --font-size-heading-7: 0.875rem;
}
