.progress_bar {
  position: relative;
  padding: 2px;
  background: var(--color-gradient-golden);
  margin-bottom: 25px;
  margin-top: 50px;
  transform: skewX(-10deg);

  &__wrapper {
    display: grid;
    grid-template-columns: repeat(10, auto);
    padding: 5px;
    background-color: var(--color-black-2);
  }

  &__percent {
    height: 20px;
    background-color: #D9D9D9;
    border-top: 1px solid var(--color-black-2);
    border-bottom: 1px solid var(--color-black-2);
    border-left: 1px solid var(--color-black-2);
    transition: all 0.25s ease;

    &:last-child {
      border-right: 1px solid var(--color-black-2);
    }

    @for $i from 1 through 10 {
      &:nth-child(#{$i}) {
        grid-column: $i;
      }
    }
  }

  &.percent_10 {
    .progress_bar__percent {
      &:nth-child(1) {
        background: var(--color-gradient-blue);
      }
    }

    .created_productions {
      left: calc(10% - 55px);
    }
  }

  &.percent_20 {
    .progress_bar__percent {
      &:nth-child(-n+2) {
        background: var(--color-gradient-blue);
      }
    }

    .created_productions {
      left: calc(20% - 55px);
    }
  }

  &.percent_30 {
    .progress_bar__percent {
      &:nth-child(-n+3) {
        background: var(--color-gradient-blue);
      }
    }

    .created_productions {
      left: calc(30% - 55px);
    }
  }

  &.percent_40 {
    .progress_bar__percent {
      &:nth-child(-n+4) {
        background: var(--color-gradient-blue);
      }
    }

    .created_productions {
      left: calc(40% - 55px);
    }
  }

  &.percent_50 {
    .progress_bar__percent {
      &:nth-child(-n+5) {
        background: var(--color-gradient-blue);
      }
    }

    .created_productions {
      left: calc(50% - 55px);
    }
  }

  &.percent_60 {
    .progress_bar__percent {
      &:nth-child(-n+6) {
        background: var(--color-gradient-blue);
      }
    }

    .created_productions {
      left: calc(60% - 55px);
    }
  }

  &.percent_70 {
    .progress_bar__percent {
      &:nth-child(-n+7) {
        background: var(--color-gradient-blue);
      }
    }

    .created_productions {
      left: calc(70% - 55px);
    }
  }

  &.percent_80 {
    .progress_bar__percent {
      &:nth-child(-n+8) {
        background: var(--color-gradient-blue);
      }
    }

    .created_productions {
      left: calc(80% - 55px);
    }
  }

  &.percent_90 {
    .progress_bar__percent {
      &:nth-child(-n+9) {
        background: var(--color-gradient-blue);
      }
    }

    .created_productions {
      left: calc(90% - 55px);
    }
  }

  &.percent_100 {
    .progress_bar__percent {
      &:nth-child(-n+10) {
        background: var(--color-gradient-blue);
      }
    }

    .created_productions {
      left: calc(100% - 55px);
    }
  }

  .goal_productions,
  .created_productions {
    position: absolute;
    width: 110px;
    font-size: var(--font-size-body-3);
  }

  .goal_productions {
    top: calc(-100% - -8px);
    right: 0;
    color: var(--color-golden-3);
    text-align: right;
  }

  .created_productions {
    bottom: calc(-100% - -8px);
    color: var(--color-blue);
    transition: all 0.25s ease;
  }
}